table thead, table tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}

.width3 {width: 3%;}
.width4 {width: 4%;}
.width5 {width: 5%;}
.width6 {width: 6%;}

	text-align: center;
.filter input{
	width: 50px;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

#topBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
}